<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-6 col-lg-offset-3">
      <h3>Please Sign In</h3>

      <div class="panel">
        <div ng-show="form_type=='phone_form'" collapse="form_collapsed">
          <form>
            <div class="form-group">
              <label for="phone">Phone Number</label>
              <div class="row">
                <div class="col-lg-4 col-xs-6">
                  <select ng-model="country_code" class="form-control">
                    <option value="1">United States</option>
                    <option value="52">México</option>
                  </select>
                </div>
                <div class="col-lg-8 col-xs-6">
                  <input type="tel" class="form-control" id="phone" name="user_phone" ng-model="phone">
                </div>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-lg btn-info btn-block" ng-click="send_phone_code()">Send Login Code</button>
            </div>
          </form>
        </div>

        <div  ng-show="form_type=='phone_code'" collapse="form_collapsed">
          <form name="phone_login">
            <div class="form-group" ng-class="{'has-error': phone_login.login_code.$invalid}">
              <label for="phone_login_code">Login Code</label>
              <input type="text" class="form-control" id="phone_login_code" ng-model="code" name="login_code" value="" capitalize>
            </div>
            <div class="form-group">
              <button class="btn btn-lg btn-info btn-block" ng-click="login_code()">Login</button>
            </div>
          </form>
        </div>

        <div ng-show="form_type=='email_form'" collapse="form_collapsed">
          <form>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" ng-model="email">
            </div>
            <div class="form-group">
              <button class="btn btn-lg btn-info btn-block" ng-click="send_email_code()">Send Login Code</button>
            </div>
          </form>
        </div>
        <div ng-show="form_type=='email_code'" collapse="form_collapsed">
          <form name="email_login">
            <div class="form-group" ng-class="{'has-error': email_login.login_code.$invalid}">
              <label for="email_login_code">Login Code</label>
              <input type="text" class="form-control" id="email_login_code" ng-model="code" name="login_code" value="" capitalize>
            </div>
            <div class="form-group">
              <button class="btn btn-lg btn-info btn-block" ng-click="login_code()">Login</button>
            </div>
          </form>
        </div>

        <div ng-show="form_type=='password'" collapse="form_collapsed">
          <form name="password_login">
            <div class="form-group" ng-class="{'has-error': password_login.$invalid}">
              <label for="username">Email</label>
              <input type="text" class="form-control" id="username" ng-model="email">
            </div>
            <div class="form-group" ng-class="{'has-error': password_login.$invalid}">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" ng-model="password">
            </div>
            <div class="form-group">
              <button class="btn btn-lg btn-info btn-block" ng-click="login_password()">Login</button>
            </div>
          </form>
        </div>
      </div>



      <div class="row">
        <div class="col-sm-12" id="login_selector">
          <div class="text-center">
            <button ng-click="set_login_type('phone_form')" ng-disabled="form_collapsed" class="btn btn-default" ng-class="{'active': form_type=='phone_form' || form_type=='phone_code'}"><i class="fa fa-mobile"></i></button>
            <button ng-click="set_login_type('email_form')" ng-disabled="form_collapsed" class="btn btn-default" ng-class="{'active': form_type=='email_form' || form_type=='email_code'}"><i class="fa fa-envelope"></i></button>
            <button ng-click="set_login_type('password')" ng-disabled="form_collapsed" class="btn btn-default" ng-class="{'active': form_type=='password'}"><i class="fa fa-key"></i></button>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>